In [2]:
import pandas as pd

series = 1d array of data

In [3]:
series = pd.Series(range(10))

In [4]:
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [5]:
series.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
type(series.values)

In [ ]:
series.index

In [ ]:
import string
series = pd.Series(range(10), index=[string.ascii_uppercase[x] for x in range(0, 20, 2)])

In [ ]:
series

In [ ]:
series.index

In [ ]:
series.index = 'one two three four five six seven eight nine ten'.split(' ')

In [ ]:
series

In [ ]:
nash_rain_avg = [3.75, 3.94, 4.11, 4.00, 5.50, 4.14, 3.64, 3.17, 3.41, 3.04, 4.31, 4.24]
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [ ]:
nash_rain = pd.Series(nash_rain_avg, index=months)

In [ ]:
nash_rain

In [ ]:
nash_rain['Jun']

In [ ]:
nash_rain['Mar':'Nov']

In [ ]:
nash_rain_dict = {month:rain for (month, rain) in zip(months, nash_rain_avg)}

In [ ]:
nash_rain_dict

In [ ]:
nash_rain_from_dict = pd.Series(nash_rain_dict)

In [ ]:
nash_rain_from_dict

In [ ]:
nash_snow_avg = [2.6, 2.3, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0.5]

In [ ]:
nash_snow_dict = {month:snow for (month,snow) in zip(months, nash_snow_avg)}

In [ ]:
nash_precip = pd.DataFrame({'rain': nash_rain_dict, 'snow': nash_snow_dict})

In [ ]:
nash_precip

In [ ]:
nash_precip.index

In [ ]:
nash_precip.reindex(months)

In [ ]:
nash_precip = _

In [ ]:
nash_precip.describe()

In [ ]:
nash_precip.rain.mean()

In [ ]:
nash_precip['total'] = nash_precip.rain + nash_precip.snow

In [ ]:
nash_precip

In [ ]:
nash_precip.values

In [ ]:
nash_snow_values = nash_precip.values[:,1]

In [ ]:
nash_snow_values

In [ ]:
nash_snow_values.mean()

In [ ]:
nash_precip.iloc[2]

In [ ]:
nash_precip.iloc[2, 1]

In [ ]:
nash_precip.iloc[:3, :2]

In [ ]:
nash_precip.loc['Mar']

In [ ]:
nash_precip.loc['Mar', 'snow']

In [ ]:
nash_precip.loc[:'Mar', :'snow']

In [ ]:
nash_precip.ix['Mar']

In [ ]:
nash_precip.ix['Mar', 1]

In [ ]:
nash_precip.ix[:'Mar', :2]

In [ ]:
nash_precip.snow > 0

In [ ]:
nash_precip[nash_precip.snow > 0]

In [ ]:
_.total.mean()

In [ ]:
nash_precip.loc[nash_precip.snow > 0, ['rain', 'total']]

In [ ]:
_.sum()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [ ]:
fig, axs = plt.subplots()
axs.set_xticklabels(months)
plt.plot(np.arange(len(nash_precip.rain)), nash_precip.rain)
plt.plot(np.arange(len(nash_precip.snow)), nash_precip.snow)
plt.xticks(np.arange(12))
plt.legend(['Rainfall', 'Snowfall'])

In [ ]:
nash_precip[['rain', 'snow']].plot()

In [ ]:
nash_precip[['rain', 'snow']].plot.bar()

In [ ]:
nash_precip[['rain', 'snow']].plot.bar(cmap='RdYlBu')

In [ ]:
nash_precip.rain.plot.pie()

In [ ]:
nash_precip.rain.plot.pie(autopct='%1.1f%%')

In [ ]:
rainiest_month = nash_precip.rain.max()
idx = np.where(nash_precip.rain.values == rainiest_month)[0][0]
callouts = np.zeros(12)
callouts[idx] = .4
nash_precip.rain.plot.pie(autopct='%1.1f%%', explode=tuple(callouts), startangle=90, figsize=(5, 5))

In [ ]:
import seaborn as sns

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
type(titanic)

In [ ]:
titanic

In [ ]:
titanic.columns

In [ ]:
titanic.head(n=10)

In [ ]:
titanic.age.mean()

In [ ]:
titanic.fare.sum()

In [ ]:
titanic.fare.sum() / len(titanic)

In [ ]:
titanic.fare.mean()

In [ ]:
titanic[titanic.who == 'child'].fare.mean()

In [ ]:
[titanic[titanic.pclass == p]['fare'].mean() for p in set(titanic.pclass)]

In [ ]:
titanic.survived.sum() / len(titanic)

In [ ]:
titanic.survived.mean()

In [ ]:
males = titanic[titanic.sex == 'male']

In [ ]:
males.age.mean()

In [ ]:
males_survived = males[males.survived == 1]

In [ ]:
len(males_survived) / len(males)

In [ ]:
males.survived.mean()

In [ ]:
titanic.groupby('sex').mean()

In [ ]:
girls = titanic[(titanic.sex=='female') & (titanic.who=='child')]

In [ ]:
girls

In [ ]:
len(girls)

In [ ]:
girls.age.mean()

In [ ]:
len(girls[girls.survived == 1]) / len(girls)

In [ ]:
titanic.groupby('sex').mean().age

In [ ]:
titanic.groupby('sex').mean().age.plot.bar()

In [ ]:
titanic[['survived', 'age', 'alone']].head()

In [ ]:
titanic[['survived', 'age', 'alone']].groupby('age').mean()

In [ ]:
titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).mean()

In [ ]:
titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).mean().plot.bar()

In [ ]:
titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).mean()['survived'].plot.bar()

In [ ]:
titanic_mean = titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).mean()
titanic_count = titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).count()

titanic_mean.columns = ['survived_mean', 'age_mean']
titanic_count.columns = ['survived_count', 'age_count']

merged = pd.merge(titanic_mean, titanic_count, right_index=True, left_index=True)
merged

In [ ]:
merged[['survived_mean', 'age_count']].plot.bar()

In [ ]:
merged[['survived_mean', 'age_count']].plot()

In [ ]:
merged[['survived_mean', 'age_count']].plot(secondary_y=['age_count'], lw=10)

In [ ]:
titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).mean()['survived'].plot.pie(
    figsize=(5, 5)
)

In [ ]:
titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).count()

In [ ]:
titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).count()['survived'].plot.pie(
    figsize=(5,5)
)

In [ ]:
titanic[['survived', 'age']].groupby(pd.cut(titanic.age, np.arange(0, 90, 10))).count()['survived'].plot.pie(
    figsize=(5,5), cmap='viridis'
)

In [ ]:
titanic[['age', 'alone']].groupby('age').sum().plot(
    figsize=(20, 5)
)

In [ ]:
titanic[['age', 'alone']].groupby(pd.cut(titanic.age, [0, 18, 25, 35, 45, 55, 65, 75])).count()['alone'].plot.bar()

In [ ]:
titanic[['survived', 'age', 'alone']].groupby('age').mean()

In [ ]:
titanic.plot.scatter(x='age', y='fare')

In [ ]:
titanic.plot.scatter(x='age', y='fare', c=titanic.pclass.values, cmap='RdYlBu', figsize=(15, 15), s=40)

In [ ]:
titanic[titanic.fare > 500]

In [ ]:
survival_rates_by_pclass = [
    len(titanic[(titanic.pclass == p) & (titanic.survived == 1)]) / len(titanic[titanic.pclass == p]) 
    for p in set(titanic.pclass)]

In [ ]:
plt.bar(list(set(titanic.pclass)), np.array(survival_rates_by_pclass)*100)

In [ ]:
titanic[titanic.fare > 200]

In [ ]:
titanic_mean = titanic[['fare', 'survived']].groupby(pd.cut(titanic.fare, np.arange(0, 600, 50))).mean()['survived'].plot.bar()

In [ ]:
titanic[['age', 'fare', 'survived', 'embark_town']].groupby('embark_town').aggregate(['mean', 'sum'])

In [ ]:
titanic[['survived', 'age', 'fare', 'embark_town']].groupby('embark_town').aggregate({'age': 'mean', 'fare': 'sum', 'survived': ['mean', 'sum']})